* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    width: 100%;
    height: 100vh;
}

#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
}